{% extends 'base.html' %}
<div class="text-center">
  {% block cabecera %}
  <h4 class="text-2xl font-semibold mb-4 text-white text-center">
    Actualmente la base de datos tiene almacenada la siguiente información:
  </h4>
  {% endblock %} {% block content %}
  <br />
  <ul class="list-group space-y-4">
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center"
    >
      <b>{{peliculas|length}} peliculas </b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center"
    >
      <b>{{directores|length}} directores</b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center"
    >
      <b>{{generos|length}} generos</b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center"
    >
      <b>{{plataformas|length}} plataformas</b>
    </li>
    <br />
  </ul>
  <br />
  <br />
  <br />
  <h4 class="text-3xl font-semibold mb-4 text-white text-center font-mono">
    Funcionalidades de la aplicación:
  </h4>
  <br />
  <ul class="list-group space-y-4">
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
    >
      <b>Este ménu de inicio que te muestran los datos de la BBDD</b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
    >
      <b>Listado de películas con sus detalles</b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
    >
      <b>Cargar la BBDD creando el Esquema de Whoosh</b>
    </li>
    <br />
    <li
      class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
    >
      <b>Cargar el Sistema de Recomendación</b>
    </li>
    <br />
    <!--AGREGAR MAS FUNCIONALIDADES AQUI-->
  </ul>
  <br />
  <br />
</div>
{% endblock %}
