<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Este ménu de inicio que te muestran los datos de la BBDD</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Agrupación de películas por plataformas con un enlace a sus detalles</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Agrupación de películas por géneros con un enlace a sus detalles</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Búsqueda de películas por género</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Búsqueda de películas por título o sinopsis</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b>Búsqueda de películas por género y título</b>
</li>
<br />
<li
  class="bg-gray-800 shadow-lg rounded-lg px-4 py-2 mb-2 text-white text-center font-serif text-lg"
>
  <b
    >Búsqueda de películas por Fecha de lanzamiento obtiendo las 5 peliculas más
    recientes y con menor duración</b
  >
</li>
