<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MovieRecommender</title>
  </head>
  <body class="bg-gray-900">
    <header class="text-white body-font bg-indigo-900">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <a href="{% url 'index' %}"
            ><span class="ml-3 text-xl">MovieRecommender</span></a
          >
        </a>
        <nav
          class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
        >
          <div class="group inline-block text-left relative mr-12">
            <button
              class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-green-600 text-xl"
            >
              Agrupaciones
              <svg
                class="-mr-1 ml-2 h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <div
              class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
            >
              <div
                class="py-1"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="options-menu"
              >
                <a
                  href="{% url 'agrupacion1' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-yellow-300 hover:text-gray-900 bg-yellow-700"
                  role="menuitem"
                  >Películas agrupadas por plataforma</a
                >
                <a
                  href="{% url 'agrupacion2' %}"
                  class="block px-4 py-2 text-lg border-t-8 text-white hover:bg-fuchsia-300 hover:text-gray-900 bg-fuchsia-700"
                  role="menuitem"
                  >Películas agrupadas por géneros</a
                >
              </div>
            </div>
          </div>
          <div class="group inline-block text-left relative mr-8">
            <button
              class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-indigo-500 text-xl"
            >
              Búsquedas
              <svg
                class="-mr-1 ml-2 h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <div
              class="origin-top-right absolute right-0 left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
            >
              <div
                class="py-1"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="options-menu"
              >
                <a
                  href="{% url 'busqueda1' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-blue-300 hover:text-gray-900 bg-blue-700"
                  role="menuitem"
                  >Búsqueda por géneros</a
                >
                <a
                  href="{% url 'busqueda2' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-red-300 hover:text-gray-900 border-t-8 bg-red-700"
                  role="menuitem"
                  >Búsqueda por Título o Sinopsis</a
                >
                <a
                  href="{% url 'busqueda3' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-green-300 hover:text-gray-900 border-t-8 bg-green-700"
                  role="menuitem"
                  >Búsqueda por Género y Título</a
                >
                <a
                  href="{% url 'busqueda4' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-yellow-300 hover:text-gray-900 border-t-8 bg-yellow-700"
                  role="menuitem"
                  >Búsqueda por Fecha de Lanzamiento</a
                >
                <a
                  href="{% url 'busqueda5' %}"
                  class="block px-4 py-2 text-lg text-white hover:bg-pink-300 hover:text-gray-900 border-t-8 bg-pink-500"
                  role="menuitem"
                  >Búsqueda por Género y País o País y Sinopsis</a
                >
              </div>
            </div>
          </div>
          <a
            class="inline-flex items-center bg-yellow-600 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-500 rounded mt-4 md:mt-0 text-white text-xl"
            href="{% url 'pelis_populares' %}"
          >
            Películas más populares
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </nav>
        <!--SÓLO USUARIOS LOGEADOS PUEDEN CARGAR LA BASE DE DATOS, DESLOGEARSE Y USAR EL SISTEMA DE RECOMENDACION-->
        {% if user.is_authenticated %}
        <a
          class="inline-flex items-center bg-red-400 border-0 py-1 px-3 focus:outline-none hover:bg-red-500 rounded text-base mt-4 md:mt-0 text-white mr-8"
          href="{% url 'cargar' %}"
        >
          Cargar Base de Datos
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a
          class="inline-flex items-center bg-green-600 border-0 py-1 px-3 focus:outline-none hover:bg-green-400 rounded text-base mt-4 md:mt-0 text-white mr-8"
          href="{% url 'logout' %}"
        >
          Cerrar sesion
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a
          class="inline-flex items-center bg-blue-600 border-0 py-1 px-3 focus:outline-none hover:bg-blue-400 rounded text-base mt-4 md:mt-0 text-white mr-8"
          href="{% url 'recom1' %}"
        >
          Recomendar Películas
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        {% else %}
        <a
          class="inline-flex items-center bg-blue-400 border-0 py-1 px-3 focus:outline-none hover:bg-blue-500 rounded text-base mt-4 md:mt-0 text-white mr-8"
          href="{% url 'registro' %}"
        >
          Registrarse
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a
          class="inline-flex items-center bg-red-400 border-0 py-1 px-3 focus:outline-none hover:bg-red-500 rounded text-base mt-4 md:mt-0 text-white mr-8"
          href="{% url 'login' %}"
        >
          Iniciar sesión
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        {% endif %}
      </div>
    </header>
    <br /><br />
    {% block cabecera %}{% endblock %}
    <section class="flex flex-col items-center min-h-screen">
      {% block content %}{% endblock %}
    </section>
    {% block pie %}{% endblock %}
  </body>
  {% include 'footer.html' %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let groups = document.querySelectorAll(".group");
      groups.forEach(function (group) {
        let button = group.querySelector("button");
        let dropdown = group.querySelector("div");

        // Establecer inicialmente el desplegable como cerrado
        dropdown.style.display = "none";

        button.addEventListener("click", function () {
          let isShown = dropdown.style.display === "block";
          dropdown.style.display = isShown ? "none" : "block";
        });
        document.addEventListener("click", function (event) {
          if (!group.contains(event.target)) {
            dropdown.style.display = "none";
          }
        });
      });
    });
  </script>
</html>
