{% extends 'base.html' %}
<div class="text-center flex justify-center">
  {% block cabecera %}
  <h4 class="text-xl font-semibold mb-4 text-white text-center">
    Detalles de la plataforma
    <span class="text-red-500">{{ plataforma.nombre }}</span>
  </h4>
  {% endblock %} {% block content %}
  <div class="container mx-auto px-4 pt-16">
    <div class="mt-2">
      <a class="text-xl mt-2 text-white">
        <p>
          Nombre:
          <span class="text-red-500 text-xl">{{ plataforma.nombre }} </span>
        </p>
      </a>
    </div>
    <div class="mt-2">
      <a class="text-xl mt-2 text-white text-justify">
        <p>
          Descripcion:
          <span class="text-yellow-500 text-2xl">
            {{ plataforma.descripcion }}
          </span>
        </p>
      </a>
    </div>
    <div class="mt-2">
      <a class="text-xl mt-2 text-white">
        <p>
          Producciones:
          <span class="text-green-500 text-2xl">
            {{ plataforma.numero_producciones }} producciones
          </span>
          &nbsp; &nbsp;
        </p>
      </a>
    </div>
  </div>
  <button
    class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-auto mt-4 text-3xl"
  >
    {% if request.session.origen == 'plataforma' %}
    <a href="{% url 'agrupacion1' %}" class="text-white">Volver al listado</a>
    {% endif %} {% if request.session.origen == 'genero' %}
    <a href="{% url 'agrupacion2' %}" class="text-white">Volver al listado</a>
    {% endif %} {% if request.session.origen == 'busqueda_genero' %}
    <a href="{% url 'busqueda1' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %} {% if request.session.origen == 'busqueda_titulo_o_sinopsis' %}
    <a href="{% url 'busqueda2' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %} {% if request.session.origen == 'busqueda_genero_y_titulo' %}
    <a href="{% url 'busqueda3' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %} {% if request.session.origen == 'busqueda_fecha_lanzamiento' %}
    <a href="{% url 'busqueda4' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %} {% if request.session.origen == 'busqueda_genero_y_pais_o_pais_y_sinopsis' %}
    <a href="{% url 'busqueda5' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %}{% if request.session.origen == 'recomendacion1' %}
    <a href="{% url 'recom1' %}" class="text-white">Volver a la búsqueda</a>
    {% endif %} {% if request.session.origen == 'populares' %}
    <a href="{% url 'pelis_populares' %}" class="text-white"
      >Volver a la búsqueda</a
    >
    {% endif %}
  </button>
</div>
{% endblock %}
